body {

}

.header-div {
    height: 50px;
}

.logo-sm {
    width: 100px;
    margin-left: 16px;
    margin-top: 8px;
}

.left-pane {
    height: 100vh;
}

.half-width {
    width: 50%;
}

.links-list li:hover {
    cursor: pointer;
!important;
    background: #E3E3E3;
!important;
}