body {

}

.header-div {
    height: 50px;
}

.logo-sm {
    width: 100px;
    margin-left: 16px;
    margin-top: 8px;
}

.left-pane {
    height: 100vh;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 80vh;
}

.links-list li:hover {
    cursor: pointer !important;
    background: #f5f5f5 !important;
}